.container {
display: flex;
border: 2px solid;
gap: 40px;
justify-content: center;
align-items: flex-start;
padding: 0px 40px 0px 0px;  
margin-bottom: 50px;   
}
.box_1, .box_2, .box_3 {
width: 200px;
display: flex;
flex-direction: column;
align-items: center;
border: 1px solid transparent; 
}
.ok {
width: 220px;
padding: 25px 15px;
background: white;
border-radius: 12px;
box-shadow: 0 4px 10px rgba(0,0,0,0.1);
text-align: center;
margin-bottom: 50px;
}
.Logo {
width: 40px;
height: 40px;
color: white;
border-radius: 50%;
background-color: blue;
display: flex;
justify-content: center;
align-items: center;
margin-bottom: 10px;
}