
body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 21px;
}


h1 {
    text-align: center;
    color: #cc0000;
    margin-bottom: 30px;
}


ul {
    list-style-type: none;
    padding: 0;
}


li {
    margin: 20px auto;
    max-width: 720px;
    background-color: #fff;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}


li:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}


video {
    width: 100%;
    height: auto;
    border-radius: 5px;
}
